/* Container Styling */
.genifylContainer {
    /* background: linear-gradient(145deg, #eef2f7, #d3dae2); */
    padding: 30px;
    border-radius: 15px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); */
  }
  
  /* Tabs Container */
  .genifylTabs {
    display: flex;
    justify-content: center;
    border-bottom: none;
    padding: 0px;
    /* margin-bottom: 30px; */
  }
  
  /* Tab Styling */
  .genifylTab {
    color: #6c757d;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    /* border-radius: 10px; */
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    /* box-shadow: 0 4px 10px rgba(108, 92, 231, 0.3) */
    
  }
  
  /* Active State for Tabs */
  .nav-tabs .nav-link.active {
    background: linear-gradient(135deg, #a29bfe, #6c5ce7) !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 10px rgba(108, 92, 231, 0.3) !important;
    transition: all 0.3s ease;
  }
  
  /* .genifylContainer .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: linear-gradient(135deg, #a29bfe, #6c5ce7) !important;
  } */
  /* Hover Effect for Tabs */
  .genifylTab:hover {
    border-bottom: 2px solid linear-gradient(135deg, #b5acf4, #816ddc);
    color: #6c5ce7;
    text-decoration: none;
    transform: translateY(-2px);
  }
  
  /* Tab Content Styling */
  .genifylTabContent {
    background: linear-gradient(145deg, #ebebfd, #e0e0f5); 
    /* background-color: #ffffff; */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.4s ease-in-out;
  }
  
  .genifylTabContent h3 {
    color: #6c5ce7; /* Match active tab color */
    font-weight: bold;
  }
  
  .genifylTabContent p {
    color: #495057;
    font-size: 1rem;
    line-height: 1.8;
  }
  

  .NestedgenifylTabContent {
    background: linear-gradient(145deg, #ebebfd, #e0e0f5); 
    /* background-color: #ffffff; */
    padding: 30px;
    border-radius: 15px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
    animation: fadeIn 0.4s ease-in-out;
  }
  
  .NestedgenifylTabContent h3 {
    color: #6c5ce7; /* Match active tab color */
    font-weight: bold;
  }
  
  .NestedgenifylTabContent p {
    color: #495057;
    font-size: 1rem;
    line-height: 1.8;
  }
  
  /* Fade-in Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  